<!-- confirmation.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Confirmation of Your Reservation</h2>
<p><strong>Reservation Number:</strong> {{ reservation.reservation_number }}</p>
<p><strong>Reservation Date:</strong> {{ reservation.reservation_date }}</p>
<p><strong>Reservation Time:</strong> {{ reservation.reservation_time }}</p>
<p><strong>Number of People:</strong> {{ reservation.num_people }}</p>
<p><strong>Special Request:</strong> {{ reservation.special_request }}</p>



{% endblock %}