<!-- thank_you.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}
Thank You - Ramen Bar
{% endblock %}

{% block content %}

<!-- Common Header Section -->
<section id="common-header" class="d-flex align-items-center justify-content-center position-relative text-white">
    <div class="container text-center position-relative">
        <h1 class="display-4 font-weight-bold">Make a Reservation</h1>
        <p class="lead mb-4">Reserve your table and enjoy authentic Japanese ramen!</p>
    </div>
</section>

<!-- Contact -->

<body>
    <h1>Thank You for Your Message!</h1>
    <p>We will get back to you as soon as possible.</p>
</body>
